body {
  margin: 0px;
  font-family: "Comic Sans MS", cursive;
  background-image: url("https://assets-cdn.github.com/images/modules/logos_page/Octocat.png");
}

img {
  z-index: -1;
  opacity: 0.5;
}

header {
  width: 100%;
  margin: 0px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgba(255,255,204,0.7);
}

h2 {
  margin: 0px;
  padding: 0px;
}

.column-1 {
  background-color: rgba(230,2242,255,0.7);
  float: left;
  width: 45%;
  margin-right: 20px;
  overflow: scroll;
  height: 920px;
  clear: right;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.column-2 {
  background-color: rgba(230,2242,255,0.7);
  float: left;
  width: 45%;
  margin-left: 5px;
  padding-left: 10px;
  overflow: scroll;
  height: 920px;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 20px;
}

footer {
  background-color: rgba(255,230,230,0.7);
  clear: both;
  height: 30px;
  width: 100%;
  text-align: center;
  padding: 20px;
}
