.job {
  background-color: #e9e5dc;
  border-radius: 8px;
  padding: 10px;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.accomplishments {
  font-size: 0.8em;
}

.job:hover {
  background-color: #f7c862;
}

#work-experience h2 {
  color: #665931;
}

/* Exploratory */
.featured:hover {
  color: #a54d04;
  font-weight: bold;
  font-size: 1em;
}

section#contact-info h3 {
  display: inline;
  padding-right: 20px;
  padding-left: 20px;
}
